          .tip {font:24px/24px
                    Bank Gothic,sans-serif; border:solid 0px
                    black; width:270px; padding:10px;
                    position:absolute; z-index:100;
                    visibility:hidden; color:#333333; top:20px;
                    left:90px; background-color:#FF6666;
                    layer-background-color:#ffffcc;}
                  


